{% extends 'base.html' %}

{% block title %}Sobre o Projeto{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header bg-success text-white">
    Sobre o Projeto
  </div>
  <div class="card-body">
    <p>
      Este projeto foi desenvolvido para a disciplina de Laboratório de Programação.
      A aplicação utiliza Flask como framework web e Bootstrap para o design.
      Os templates HTML são construídos com Jinja, que acompanha o Flask.
    </p>
    <p>
      <strong>Tecnologias utilizadas:</strong>
    </p>
    <ul>
      <li>Flask - Framework web</li>
      <li>Bootstrap - Para o design</li>
      <li>Jinja - Templates</li>
      <li>HTML/CSS - Interface</li>
    </ul>
  </div>
</div>
{% endblock %}
